body{
  margin: 5em 3em 1em 3em;
  background: url(http://img4.hostingpics.net/pics/330931aboveadventureaerialair1.jpg) no-repeat center center fixed;
  color: #FFFFFF;
  font-family: Garamond, serif;
}

/*header*/

header{
  width: 100%;
  height: 200px;
}

 header img{
   border-radius: 30%;
   float: right;
   display: inline-block;
 }

header h1{
  font-size: 50px;
  display: inline-block;
  text-transform: uppercase;
}

header p{
  font-size: 1em;
  margin-top: -0.8em;
}

header span{
  color: #00FFFF;
}

/*Aside*/

aside{
  width: 24%;
  height: 900px;
  float: left;
  border-right: black solid;
  border-radius: 1em;
}

aside ul{
  list-style: none;
}

aside h3{
  color: 	#1E90FF;
}

aside li{
  padding: 0.4em;
}

/*section formation*/

section{
  width: 74%;
  height: 900px;
  float: right;
}


.formation {
    border-left: black solid;
    border-radius: 1em;
    list-style: none;
    padding: 1em;
    height: 200px;
  }

.experiences {
  border-left: black solid;
  border-radius: 1em;
  list-style: none;
  padding: 1em;
  height: 500px;
}
section span{
  font-weight: 600;
}

section li{
  padding: 1em;
}


#formation{
  border-bottom: #FF4500 solid;
  width: 4em;
}

#experiences{
  border-bottom: #FF4500 solid;
  width: 14.2em;
}

/*footer*/

footer li{
  display: inline;
  float: right;
}

footer a{
  padding: 1em;
}



/*CONTACT HTML*/
